:root {
    --o-AthensGray: #F2F4F7;
    --o-Manate: #8B8E99;
    --o-midgray: #595B66;
    --o-shark: #1F2026;
    --o-lonestar: #7000FF;
    --o-nero: #FFFFFF;
    --o-diesel: #FFFF00;
    --o-frenchrose: #F4488D;
    --o-rose: #E8007C;
    --o-pigmentindigo: #3B007D;
    --o-moonraker: #BEC2F2;
    --o-turbo: #F0F0FF;
    --o-black: #FF0000;
}



/* FONTS */
@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Medium.woff2/') format('woff2'),
        url('../fonts/Inter18pt-Medium.woff/') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2/') format('woff2'),
        url('../fonts/Roboto-Medium.woff/') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2/') format('woff2'),
        url('../fonts/Roboto-Regular.woff/') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Regular.woff2/') format('woff2'),
        url('../fonts/Inter18pt-Regular.woff/') format('woff');
    font-weight: normal;
    font-style: normal;
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    list-style: none;
}


ul {
    text-decoration: none;
    list-style: none;
}

.header {
    background-color: var(--o-AthensGray);
    font-size: 14px;
    line-height: 14px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-moljal {
    display: flex;
    gap: 24px;
}

.moljal {
    display: flex;
    gap: 5px;
}

.shahar {
    color: var(--o-shark);
}

.toshkent {
    color: var(--o-shark);
}

.topshirishpunktlaricontent {
    color: var(--o-shark);
}

.Buyurtmangizcontent {
    color: var(--o-Manate);
}

.header-savol-javoblar {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.savol {
    color: var(--o-midgray);
    text-decoration: none;
}

.Buyurtmalarim {
    color: var(--o-midgray);
    text-decoration: none;
    margin-right: 20px;
}

.uzbbayroq {
    display: flex;
    gap: 6px;
    align-items: center;
}

.ozbekcha {
    color: var(--o-shark);
    text-decoration: none;
}


/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 14px;
}



.katalog {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--o-turbo);
    justify-content: center;
}

.katalogcontent {
   text-decoration: none;
    color: var(--o-lonestar); 
}

.heroleft {
    display: flex;
    align-items: center;
    gap: 24px;
}

.kirish {
    display: flex;
    gap: 9px;
    align-items: center;
}

.kirishcontent {
    text-decoration: none;
    color: var(--o-shark);
}

.saralanganlar {
    display: flex;
    gap: 9px;
    align-items: center;
}

.saralanganlarcontent {
    text-decoration: none;
    color: var(--o-shark);
}

.savat {
    display: flex;
    gap: 9px;
    align-items: center;
}

.savatcontent {
    text-decoration: none;
    color: var(--o-shark);
}

/* NAV */
.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
}

.muddatli {
    display: flex;
    gap: 5px;
    align-items: center;
}

.muddatlicontent {
    text-decoration: none;
    color: var(--o-shark);
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.link {
    color: var(--o-midgray);
}

.select {
    color: var(--o-midgray);
    border: none;
}
























/* Arzon narxlar */

.arzonnarxlar-content {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6fr, 1fr);
    grid-template-rows: repeat(5fr, 1fr);
}

.card:first-child {
    grid-column: 1fr / 2fr;
    grid-row: 1fr / 2fr;
}

.card:nth-child(2) {
    grid-column: 2fr / 3fr;
    grid-row: 1fr / 2fr;
}

.arzon-narxlar-title-content {
    display: flex;
    align-items: center;
}

.arzon-narxlar-title {
    font-size: 28px;
    line-height: 36px;
    color: var(--o-shark);
}

.arzon-narxlar-icon {
    padding-top: 5px;
    color: var(--o-shark);
}




.arzonnarxlar-content {
    display: grid;
    grid-template-columns: repeat(5fr, 1fr);
    grid-template-rows: repeat(4fr, 1fr);
}

.card:nth-child(1) {
    grid-column: 1fr, 2fr;
}


.card:nth-child(2) {
    grid-column: 2fr, 3fr;
}




.card {
    padding-top: 21px;
}

.card-img {
    position: relative;
    border-radius: 8px;
}

.saralanganlar {
    position: absolute;
    top: 12px;
    left: 200px;
}

/* .saralanganlar:hover {
    
} */

.eksklyuziv {
    position: absolute;
    background-color: var(--o-lonestar);
    font-size: 13px;
    line-height: 21px;
    color: var(--o-nero);
    padding: 4px 6px;
    border-radius: 4px;
    top: 282px;
}

.aksiya {
    background-color: var(--o-pigmentindigo);
    font-size: 13px;
    line-height: 21px;
    position: absolute;
    color: var(--o-nero);
    padding: 1px 6px;
    border-radius: 4px;
    top: 287px;
    left: 1px;
}

.DIsport {
    background-color: var(--o-black);
    font-size: 13px;
    line-height: 21px;
    position: absolute;
    color: var(--o-nero);
    padding: 1px 6px;
    border-radius: 4px;
    top: 286px;
    left: 1px;
}

.AksiyaPepsi {
   background-color: var(--o-lonestar);
    font-size: 13px;
    line-height: 21px;
    position: absolute;
    color: var(--o-nero);
    padding: 1px 6px;
    border-radius: 4px;
    top: 286px;
    left: 1px; 
}


.Vaqtinchalikchegirma {
    background-color: var(--o-frenchrose);
    color: var(--o-nero);
    font-size: 13px;
    line-height: 21px;
    position: absolute;
    color: var(--o-nero);
    padding: 1px 6px;
    border-radius: 4px;
    top: 287px;
    left: 51px;
}



.card-timer-text {
    align-items: center;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
}

.timer-text {
    margin-left: 4px;
    font-size: 11px;
    line-height: 11px;
    color: var(--o-frenchrose);
}




.card-texts {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
    line-height: 16px;
}

/* card-texts */
.card-text {
    font-size: 14px;
    line-height: 14px;
    max-width: 232px;
    width: 100%;
}

.card-star-text {
    align-items: center;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
}



.star-text {
    margin-left: 4px;
    font-size: 11px;
    line-height: 11px;
    color: var(--o-Manate);
    
}

.price-month {
    display: inline-block;
    font-size: 11px;
    line-height: 17px;
    background-color: var(--o-diesel);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}

.price-month1 {
    display: inline-block;
    font-size: 11px;
    line-height: 17px;
    background-color: var(--o-diesel);
    margin-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}


.prices {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.price {
    margin-right: 103px;
}

.old-price {
    font-size: 11px;
    line-height: 13px;
    color: var(--o-Manate);
}

.new-price {
    font-size: 14px;
    line-height: 17px;
    color: var(--o-shark);
}





.button {
    margin-top: 40px;
    margin-bottom: 466px;
    margin-left: auto;
    margin-right: auto;
}

.button20 {
    display: inline-block;
    font-size: 16px;
    /* padding: 19px, 298px; */
    padding-left: 298px;
    padding-right: 298px;
    padding-top: 19px;
    padding-bottom: 19px;
    border-radius: 8px;
    background-color: var(--o-AthensGray);
    color: var(--o-shark);

}














/* Elektronika */

.elektroonika-title-content {
    display: flex;
    align-items: center;
}

.Elektronika-title {
    font-size: 28px;
    line-height: 36px;
    color: var(--o-shark);
}

.elektronika-icon {
    padding-top: 5px;
    color: var(--o-shark);
}



.aksiya1 {
    background-color: var(--o-pigmentindigo);
    font-size: 13px;
    line-height: 21px;
    position: absolute;
    color: var(--o-nero);
    padding: 1px 6px;
    border-radius: 4px;
    top: 287px;
    left: 131px;
}


.Vaqtinchalikchegirma1 {
    background-color: var(--o-frenchrose);
    color: var(--o-nero);
    font-size: 13px;
    line-height: 21px;
    position: absolute;
    color: var(--o-nero);
    padding: 1px 6px;
    border-radius: 4px;
    top: 287px;
    left: 1px;
}

.card-star-text1 {
    align-items: center;
    display: flex;
    padding-top: 5px;
    padding-bottom: 0px;
}
































/* FOOTER */
.footer {
    font-size: 14px;
    line-height: 19px;
}

.footer-top-links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 73px;
}

.footer-link {
    margin-top: 19px;
}

.link {
    color: var(--o-Manate);
}

.link-logo {
    display: flex;
    gap: 25px;
}

.apple-logo {
    display: flex;
    align-items: center;
}

.google-logo {
    display: flex;
    align-items: center;
}

.uzum-tarmoqlari {
    margin-top: 32px;
}





.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.footer-bottomlink {
    display: flex;
    gap: 16px;
}

.footer-text {
    font-size: 11px;
    color: var(--o-Manate);
}







/* RESPONSIVE */
@media (max-width: 1150px) {
    .links {
        display: none;
    }
}


@media (max-width: 900px) {
    .Buyurtmangiz {
        display: none;
    }

    .savol {
        display: none;
    }
}

@media (max-width: 750px) {
    .footer-bottom {
        flex-wrap: wrap;
    }
    
}

@media (max-width: 660px) {
    .katalog {
        display: none;
    }

    .kirish {
        display: none;
    }

        .footer-top-links {
            flex-wrap: wrap;
            
        }
       
}

@media (max-width: 520px) {
    .topshirishpunktlari {
        display: none;
    }

    .Buyurtmalarim {
        display: none;
    }
}

@media (max-width: 470px) {
    .saralanganlar {
        display: none;
    }

    /* .uzumlogo {
        width: 100px;
        height: 16px;
    } */
}
