:root {
    --o-AthensGray: #F2F4F7;
    --o-Manate: #8B8E99;
    --o-midgray: #595B66;
    --o-shark: #1F2026;
    --o-lonestar: #7000FF;
    --o-nero: #FFFFFF;
    --o-diesel: #FFFF00;
    --o-frenchrose: #F4488D;
    --o-rose: #E8007C;
    --o-pigmentindigo: #3B007D;
    --o-moonraker: #BEC2F2;
}



/* FONTS */
@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Medium.woff2') format('woff2'),
        url('../fonts/Inter18pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter18pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: var(--o-AthensGray);
    font-size: 14px;
    line-height: 14px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-moljal {
    display: flex;
    gap: 24px;
}

.moljal {
    display: flex;
    gap: 5px;
}

.shahar {
    color: var(--o-shark);
}

.toshkent {
    color: var(--o-shark);
}

.topshirishpunktlaricontent {
    color: var(--o-shark);
}

.Buyurtmangizcontent {
    color: var(--o-Manate);
}

.header-savol-javoblar {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.savol {
    color: var(--o-midgray);
    text-decoration: none;
}

.Buyurtmalarim {
    color: var(--o-midgray);
    text-decoration: none;
    margin-right: 20px;
}

.uzbbayroq {
    display: flex;
    align-items: center;
}

.ozbekcha {
    color: var(--o-shark);
    text-decoration: none;
    margin-left: 6px;
}
